{
  "presets": [
    ["@babel/preset-env", {
      "corejs": 3,
      "modules": false,
      "useBuiltIns": "entry"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["@babel/plugin-proposal-class-properties", { "loose": false }]
  ]
}
